@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --primary-bgcolor:linear-gradient(to right, #0f0c29, #302b63, #24243e); ;
    --primary-color:aliceblue;
    --button-bgcolor:#CC9544;
    --button-hover:#cc9544;
    --category-bgcolor:#3A1078;
    --card-bgcolor:#4E31AA;
    --popularCourses-bgcolor:#643A6B;
    --card-hover:#A084CF;
    --form-bgcolor:#0f0c29;
    --contact-bgcolor:#302b63;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* NAV BAR */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    padding: 15px 35px ;
    background: var(--primary-bgcolor);
    color:var(--primary-color);
    z-index: 10;
}
.navRight ul li{
    display: inline-block;
    margin-right: 20px;
}
.navRight ul li a{
   color: var(--primary-color);
}
.navActive{
    text-shadow: 0 0 10px #fff;
}
.menuIcon img{
    width: 25px;
    cursor: pointer;
    display: none;
}
.closeIcon img{
    width: 15px;
    position: absolute;
    transform: translate(20px,0px);
    z-index: 1; 
    cursor: pointer;
    display: none;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7%;
    background:var(--primary-bgcolor); 
    padding: 10px 8%;
}
.bannerLeft {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
}

.bannerLeft button{
    background-color: var(--button-hover);
    padding: 15px 10px;
    border: 1px solid var(--button-hover);
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
    transition: all .5s;
}
.bannerLeft button:hover{
    background: transparent;
}
.bannerRight img{
    width: 80%;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 45px 8%;
    background: var(--category-bgcolor);
}

.categories{
    flex-basis: 40%;
    color: var(--primary-color);
}
.categories p{
    font-size: small;
    margin-top: 10px;
}
.categories button{
    background-color: var(--button-hover);
    padding: 15px 10px;
    border: 1px solid var(--button-hover);
    border-radius: 5px;
    color: var(--primary-color);
    margin-top: 25px;
    cursor: pointer;
    transition: all .5s;
}
.categories button:hover{
    background:transparent;
}
.categoryCards{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.categoryCards .card{
    flex-basis: 30%;
    padding: 15px;
    background-color: var(--card-bgcolor);
    /* border: 1px solid white; */
    border-radius: 10px; 
    height: 160px;
    position: relative;
}
.categoryCards .card:hover{
    box-shadow: 0px 0px 15px #4E31AA;
}
.categoryCards .card img{
    width: 20px;
    position: absolute;
    top:10px;
    left:20px;
}
.categoryCards card h5{
    position: absolute;
    top:40px;
    left:20px;
}
.categoryCards .card p{
    position: absolute;
    top:60px;
    left:20px;
    font-size: 12px;
}

.popularCourses{
    background: var(--primary-bgcolor);
    color: var(--primary-color);
    padding: 20px 50px;
}
.popularCourses h3{
    text-align: center;
    margin-bottom: 15px;
}
.courseContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.courseContainer .courseCard{
    flex-basis:30%;
    background-color: var(--card-bgcolor);
    height: 450px;
    position: relative;
}
.courseContainer .courseCard img{
    width: 100%;
}
.courseContainer .courseCard h4{
    padding: 10px;
    position: absolute;
    bottom: 180px;
    left: 10px;
}
.courseContainer .courseCard p{
   font-size: 12px;
   padding: 10px;
   position: absolute;
   bottom: 90px;
   left: 10px;
}
.courseContainer .courseCard button{
    background-color: #243763;
    padding: 15px 25px;
    border-radius: 5px;
    color: var(--primary-color);
    margin-top: 25px;
    cursor: pointer;
    transition: all .5s;
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
}
.courseContainer .courseCard button:hover{
    background: #2437639a;
}

.faq{
    background: var(--category-bgcolor);
    color: var(--primary-color);
    padding: 20px 50px;
}
.faq h3{
    text-align: center;
    margin-bottom: 15px;
}
.questionContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.questionCard{
    flex-basis: 45%;
    padding: 15px;
    border: 0.5px solid white;
    min-height: 50px;
    position: relative;
    cursor: pointer;
}
.faqIcon i{
    position: absolute;
    top:18px;
    left:10px;
}
.questionCard h5{
    display: inline-block;
    padding-left: 20px;
    font-size: 15px;
}
.questionCard p{
    font-size: 12px;
    padding-top: 10px;
    padding-left: 20px;
    display: none;
}
.questionCardSelected p{
    display: inline-block;
    /* padding-left: 40px; */
}

.testimonials{
    background: var(--primary-bgcolor);
    color: var(--primary-color);
    padding: 20px 50px;
}
.testimonials h3{
    text-align: center;
    margin-bottom: 25px;
}
/* .testimonialContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
} */
.testimonialCard{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonialCard img{
    width:20%;
    border-radius: 50%;
    border:15px solid var(--card-hover);
    margin-bottom: 10px;
}
.testimonialParagraph{
    width: 80%;
    max-height: 70px;
    margin-top: 40px;
    position: relative;
    /* overflow: scroll; */
}
.testimonialParagraph::before{
    content: '';
    height: 25px;
    width: 25px;
    background: var(--card-hover);
    rotate: 45deg;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
}
.testimonialParagraph::-webkit-scrollbar{
    display: none;
}
.testimonialParagraph p{
    font-size: 12px;
    padding: 15px;
    background-color: var(--card-hover);
}
.achievements{
    background: var(--category-bgcolor);
    color: var(--primary-color);
    padding: 40px 50px;
}
.achievements h3{
    text-align: center;
}
.achievements p{
    width: 80%;
    font-size: 13px;
    text-align: center;
}
.achievementsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.achievementCardContainer{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
   
}
.achievementCard{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 1px solid white; */
    background-color: var(--card-bgcolor);
    border-radius: 25px;
     padding: 20px;
     transition: all 0.3s;
}
.achievementCard:hover{
    box-shadow: 0 0 5px #d0d0dc;
    background-color: var(--card-hover);
}
.achievementCard img{
    width: 15%;
}

.team{
    background: var(--primary-bgcolor);
    color: var(--primary-color);
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team h3{

    margin-bottom: 25px;
}
.teamContainer{
    width: 70%;
    display: flex;
    justify-content: center ;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;

    }
.teamCard{
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
    padding: 15px;
    border-radius:10px;
    background-color: var(--card-bgcolor);
    transition: all 0.3;
}
.teamCard img{
    width: 100%;
    border-radius:10px;
    filter: saturate(0);
    transition: all 0.3s;
}
.teamCard:hover img{
    filter:saturate(1);
}
.teamCard:hover{
    box-shadow:  0 0 10px #d0d0dc;
}
.teamCard h6{
    opacity: 0.8;
}

.footer{
    background: var(--category-bgcolor);
    color: var(--primary-color);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerContact{
   flex-basis: 47%;
   background: var(--contact-bgcolor);
   border-radius: 10px;
   padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px; 
    box-shadow: 0 0 5px var(--form-bgcolor);
}
.contactImage img{
    width:30%
}
.footerContact p{
    font-size: 12px;
    width: 90%;
}
.footerIcons img{
    width: 40px
}
.footerContact ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    opacity: 0.8;
}
.footerContact ul li img{
    width: 15px;
}
.footerForm{
    flex-basis: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.footerFormInputContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    width: 90%;
}
.footerFormInput{
    width: 50%;
    padding: 10px 15px;
    background: var(--form-bgcolor);
}
.footerFormInput input{
     width: 100%;
     font-size: 14px;
     color: var(--primary-color);
     border: 0;
     outline: 0; 
     background: transparent;
}
.footerEmail{
    padding: 10px 15px;
    background: var(--form-bgcolor);
    width: 90%;
}
.footerEmail input{
    width: 100%;
     font-size: 14px;
     color: var(--primary-color);
     border: 0;
     outline: 0; 
     background: transparent;
}
.footerTextarea{
    padding:15px;
    background: var(--form-bgcolor);
    width: 90%;
}
.footerTextarea textarea{
     width: 100%;
     font-size: 14px;
     color: var(--primary-color);
     border: 0;
     outline: 0; 
     background: transparent;
     resize: none;
}
.footerForm button{
    transform: translate(0,15px);
    padding: 10px 15px;
    color: var(--primary-color);
    background: var(--button-bgcolor);
    transition: all 0.3s;
    border: 0.5px solid var(--button-bgcolor);
}
.footerForm button:hover{
    background: transparent ;
    border-radius:2px ;
}
footer{
    background: var(--category-bgcolor);
    color: var(--primary-color);
    padding: 20px 50px;
    border-top: 0.5px solid #0f0c29;
}
footer .footerColumnContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footerColumn-1{
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding: 10px;
}
.footerColumn-1 img{
    width: 20px;
}
.footerColumn-1 h6{
    font-weight: 100;
}
.footerColumn-1 h6 a{
    color: var(--primary-color);    
}
.footerColumn-1 p,.copyRight p{
 font-size: 12px;
 text-align: center;
}
/* TABLET SCREEN */
@media screen and (max-width:1024px) {

    .menuIcon img{
        display: block;
       }
    .navRight ul{
        background: var(--card-hover);
        position: absolute;
        transform: translate(-140px,-16px);
        padding-top: 40px; 
        display: none;
        transition:display ease-in-out 5s;
    }
    .navRight ul li{
        width: 200px;
        text-align: center;
        display: block;
        margin: 0px;
        padding: 20px 0px;
    }
    .navRight ul li:hover{
        background: rgb(18, 18, 44)    ;
   }
   .categoryCards .card{
    min-width: 120px;
   }
   .categoryCards .card p{
        font-size: 10px;
        left:15px;
   }
   .categoryCards .card h5{
        font-size: 12px;
        left:15px;
   }
   .categoryCards .card img{
        font-size: 10px;
   }
.courseContainer .courseCard h4{
    font-size: 15px;
    bottom: 200px;
    }
    .footerColumn-1{
        flex-basis: 47%;
    }
}

/* Mobile Devices */
@media screen and (max-width:600px) {

    .banner{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .bannerLeft{
        padding: 20px 20px;
    }
    .bannerLeft h2{
        font-size: 20px;
        text-align: center;

    }
    .bannerLeft p{
        font-size: 12px;
        text-align: center;
    }

    .content{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .categoryCards{
        align-items: center;
        justify-content: center;
    }
    .categoryCards .card{
        flex-basis: 40%; 
        overflow: hidden;
    }
.categoryCards .card img{
    width: 25px;
    left: 50%;
    transform: translateX(-50%);
}
    .categoryCards .card p{
        font-size: 10px;
        top:80px;
        left: 50%;
        transform: translateX(-50%);
   }
   .categoryCards .card h5{
        font-size: 12px;
        top:50px;
        left: 50%;
    transform: translateX(-50%);
   }
   .courseContainer{
    justify-content: center;
   }
   .courseContainer .courseCard{
    flex-basis: 90%;
   }
   .questionCard{
    flex-basis: 90%;
   }

   .achievementCard{
    flex-basis: 90%;
   }

   .teamCard{
    flex-basis: 45%;
   }
   .footer{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footerForm{
    flex-basis: 50%;
    align-items: center;
    gap: 10px;
}
.footerColumn-1{
    flex-basis: 90%;
}
}

/* Classes Invoked Using by JS */
